#### Using this notebook to cross check python codes in the homework.py scripts

In [2]:
import pandas as pd
df = pd.read_parquet('./data/fhv_tripdata_2021-01.parquet')
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2021-01-01 00:15:56,2021-01-01 00:19:52,N,1.0,43,151,1.0,1.01,5.5,0.5,0.5,0.00,0.0,None,0.3,6.80,2.0,1.0,0.00
1,2,2021-01-01 00:25:59,2021-01-01 00:34:44,N,1.0,166,239,1.0,2.53,10.0,0.5,0.5,2.81,0.0,None,0.3,16.86,1.0,1.0,2.75
2,2,2021-01-01 00:45:57,2021-01-01 00:51:55,N,1.0,41,42,1.0,1.12,6.0,0.5,0.5,1.00,0.0,None,0.3,8.30,1.0,1.0,0.00
3,2,2020-12-31 23:57:51,2021-01-01 00:04:56,N,1.0,168,75,1.0,1.99,8.0,0.5,0.5,0.00,0.0,None,0.3,9.30,2.0,1.0,0.00
4,2,2021-01-01 00:16:36,2021-01-01 00:16:40,N,2.0,265,265,3.0,0.00,-52.0,0.0,-0.5,0.00,0.0,None,-0.3,-52.80,3.0,1.0,0.00

In [12]:
# import the datetime module
import datetime
 
# datetime in string format for may 25 1999
input = '2021/05/25'
 
# format
format = '%Y/%m/%d'
 
# convert from string format to datetime format
datetime = datetime.datetime.strptime(input, format)
 
# get the date from the datetime using date()
# function
print(datetime.date())

2021-05-25

In [25]:
from datetime import datetime,date

def get_paths(date_value=None):

    if date_value == None:
        date_value = date.today().strftime("%Y-%m-%d")

    new_date = date_value.split('-')
    year, month, day = new_date[0], new_date[1], new_date[2]
    year, month, day = int(year), int(month), int(day)

    new_date = date(year, month, day)
        

    if new_date.month != 1 and new_date.month != 2:
        train_month , train_year = (new_date.month-2, new_date.year)
    elif new_date.month == 1:
        train_month , train_year = (11, new_date.year-1)
    else:
        train_month , train_year = (12, new_date.year-1)

    train_date = new_date.replace(day=1, month=train_month, year=train_year)
    train_date = train_date.strftime('%Y-%m')
        

    val_month , val_year = (new_date.month-1, new_date.year) if new_date.month != 1 else (12, new_date.year-1)
    val_date = new_date.replace(day=1, month=val_month, year=val_year)
    val_date = val_date.strftime('%Y-%m')

    return train_date, val_date

        
get_paths("2022-02-09")

('2021-12', '2022-01')